<h2>Reservation List</h2>
<div *ngIf="reservations.length > 0; else noReservations">
    <ul>
        <li *ngFor="let reservation of reservations">
           Guest : {{reservation.guestName}} <br>
           Guest Email : {{reservation.guestEmail}} <br>
           Room Number : {{reservation.roomNumber}} <br>
           Check-in Date : {{reservation.checkInDate}} <br>
           Check-out Date : {{reservation.checkOutDate}} <br>

        </li>
    </ul>
</div>
<ng-template #noReservations>
    <p>No reservations found.</p>
</ng-template>